[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ARTool"]
	path = ARTool
	url = https://github.com/mjskay/artool
[submodule "ggblend"]
	path = ggblend
	url = https://github.com/mjskay/ggblend
[submodule "ggdist"]
	path = ggdist
	url = https://github.com/mjskay/ggdist
[submodule "tidybayes"]
	path = tidybayes
	url = https://github.com/mjskay/tidybayes
